<ion-tabs class="tabs-dark tabs-top">	
	<!-- OFFER WALL TAB -->
	<ion-tab class="app-dark-tabs" title={{appOffer}} href="#/app/appHome/offer">
		<ion-nav-view name="appHome-offer"></ion-nav-view>
	</ion-tab>

	<!-- BALANCE TAB -->
	<ion-tab class="app-dark-tabs" title={{appBalance}} href="#/app/appHome/balance">
		<ion-nav-view name="appHome-balance"></ion-nav-view>
	</ion-tab>

	<!-- RECHARGE TAB -->
  	<ion-tab class="app-dark-tabs" title={{appRecharge}} href="#/app/appHome/recharge">
		<ion-nav-view name="appHome-recharge"></ion-nav-view>
 	 </ion-tab>	
</ion-tabs>
