
<ion-view title="{{pageHeader}}"  hide-back-button="true" class="mb-app-body">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="list app-wallet-list" ng-controller="appWalletBalanceController">
		<div class="item item-icon-left" href="#">
          <i class="icon ion-cash"></i>
			{{currentBalance}}
			<span class="badge mb-app-list-amount">
				<span class="mb-app-list-amount-content"  ng-bind-template="{{siteCurrency}}&nbsp;{{getTotal.currentBalance}}">0</span>
			</span>
        </div>
		<div class="item item-icon-left" href="#">
          <i class="icon ion-ios7-upload-outline"></i>
			{{totalCredited}}
			<span class="badge mb-app-list-amount">
				<span class="mb-app-list-amount-content" ng-bind-template="{{siteCurrency}}&nbsp;{{getTotal.totalRecharge}}">0</span>
			</span>
        </div>
		<div class="item item-icon-left" href="#">
          <i class="icon ion-ios7-download-outline"></i>
			{{totalDebited}}
			<span class="badge mb-app-list-amount">
				<span class="mb-app-list-amount-content" ng-bind-template="{{siteCurrency}}&nbsp;{{getTotal.totalEarnings}}">0</span>
			</span>
        </div>	  
	</div>
  </ion-content>
</ion-view>
