<ion-view title='{{pageHeader}}' hide-back-button="true" class="mb-app-body">
<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header mb-app-body" has-bouncing="true">
	<div>
 <span ng-show="myData.showIt"> <img src="images/01-splash-screen.png" height="100%" width="100%"/> </span>
</div>
<div>
 <span ng-show="myData.showIt1"> <br><br><br><br><div style="size:15%;color:#FEE129;position:relative;left:13%;margin-top:20%;">No Apps Available For Your Category!!</div><img src="images/logo.png" style="position:relative;left:30%;margin-top:24%;" /></span>



</div>

<ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh" refreshing-text="Refreshing.." refreshing-icon="ion-loading-a"></ion-refresher>

<!--<div ng-show="myData.applist">-->
<span ng-show="myData.applist">
<ion-list>
	<div class="body-padding">
		<div ng-repeat="appList in availAppList track by $index" id="appHome-offer">
			<div class="list card">
				<div class="item item-avatar app-list-avatar">
				  <img src="{{imgUrl}}{{appList.filename}}">
				  <div class="content-size-max">
					<div class="pull-left">
						<h2>{{appList.bannertext}}</h2>
						<p class="text-size-10">{{appList.quotes}}</p>
					</div>
					<div class="pull-left content-size-5">
						<span class="mb-app-list-amount">
							<div id="inner-amount">
								{{currency}}<span>{{appList.points}}</span>
							</div>
						</span>
					</div>
				  </div>
				</div>
				 
				
				<div class="item item-divider app-list">
					<span class="pull-left text-size-12 app-list-install-content">Install to get {{currency}}&nbsp;{{appList.points}} free talk time</span>
					<span class="pull-right">
			<div class="app-button-yellow" id="offer-wall-install" ng-click="AppBigImage(appList.bannerid,appList.request_id)">INSTALL</div>
					</span>          
				</div>
				
			</div>
			</a>
		</div>
	</div>
</ion-list>
</span>
<!--</div>-->


</ion-content>
</ion-view>
