<ion-view class="bubble-background login-bar" hide-nav-bar="true">
	<ion-content style="background-image:url('images/entry.jpg');background-repeat: no-repeat;background-size:100% 100%" has-header="false">
	
	<div>
		 <span ng-show="myData.showIt"> <img src="images/01-splash-screen.png" height="100%" width="100%"/> </span>
	</div>


		<div style="position:relative;left:20%;margin-top:70%;">

		     
		
			<button class="button login-button-1" ng-click="signIn()">&nbsp;&nbsp;&nbsp;&nbsp;LOGIN&nbsp;&nbsp;&nbsp;&nbsp;</button>
		
			&nbsp

			<button class="button login-button-2" ng-click="register()">REGISTER</button>
		     

		</div>


	</ion-content>

</ion-view>

