<ion-view title='{{pageHeader}}' hide-back-button="true" class="mb-app-body">
<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
</ion-nav-buttons>
   <ion-content class="has-header padding">
	
	<center>
	<div class="list card" style="margin-top:60%;">
			<div style="font-size:150%">
			  <i class="icon ion-happy"></i>
			  Thanks for your feedback!!!!
			</div>
	
	</div>
	</center>
  </ion-content>
</ion-view>
