<ion-view class="bubble-background login-bar" hide-nav-bar="true" title="forgotPassword">
	<ion-content hide-nav-bar="true" has-header="false">
	<!--APP LOGO START-->
	<div class="mb-header" >
		 <img class="app-logo-image" src='images/logo.png'>
	</div>
	<!--APP LOGO END-->
	      
	<form name="forgotPassword" noValidate ng-controller="forgotPasswordController" ng-submit="checkUserEmail(user)" style="margin-top:20%;">
		<!--SERVER VALIDATION NOTIFICATION START-->
		<div ng-cloak ng-show="formError" class="card">
			<div ng-cloak ng-show="forgotPasswordError" class="item item-divider form-valid-error">{{forgotPasswordErrorMsg}}</div>
		</div>	
		<!--SERVER VALIDATION NOTIFICATION END-->
		
		<!--FORM CONTENT START-->
		<div class="list list-inset form-list">
			<div ng-class="{'has-error': forgotPassword.email.$invalid}"> 
				<label class="item item-input">
					<i class="icon ion-email placeholder-icon"></i>
					<input type="email" ng-model="user.email" name="email" placeholder='{{forgetPasswordInput}}' required>
				</label>
			</div>
			<p ng-cloak class="input-error-text" ng-show="forgotPassword.email.$error.required && forgotPassword.email.$dirty">Email id is Required</p>
			<p ng-cloak class="input-error-text" ng-show="forgotPassword.email.$invalid && !forgotPassword.email.$error.required">Enter valid Email id</p>
		</div>
		<div class="padding">
			<button class="button button-block login-button-2" style="font-size:14px;text-transform:uppercase;" ng-disabled="forgotPassword.$invalid">{{forgetPasswordButton}}</button>
		</div>
		<!--FORM CONTENT END-->
	</form>
	</ion-content>
</ion-view>
