<ion-side-menus style="background:#141414">
  <ion-pane ion-side-menu-content drag-content="false">
	<ion-nav-view animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="myWidthValue + 200" style="background:#141414">
	<ion-content style="background:#141414">
	  <ion-list>
		<ion-item nav-clear menu-close href="#/app/appHome/offer">
		 	<i class="icon ion-ios7-star-outline side-menu-icon"></i>
		 	<span>OFFERS</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/app/appHome/balance">
		 	<i class="icon side-menu-icon"><img src="images/Rupee.png"></i>
		 	<span>BALANCE</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/app/appHome/recharge">
		 	<i class="icon ion-flash side-menu-icon"></i>
		 	<span>RECHARGE</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/feedback">
		 	<i class="icon ion-compose side-menu-icon"></i>
		 	<span>FEEDBACK</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/about">
		 	<i class="icon ion-information side-menu-icon"></i>
		 	<span>ABOUT</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/profile">
		 	<i class="icon ion-ios7-person-outline side-menu-icon"></i>
		 	<span>PROFILE</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/share">
		 	<i class="icon side-menu-icon"><img src="images/share.png"></i>
		 	
		 	<span>SHARE</span>
		</ion-item>
		<ion-item nav-clear menu-close href="#/home">
		 	<i class="icon ion-ios7-home-outline side-menu-icon"></i>
		 	<span>HOME</span>
		</ion-item>

		<ion-item nav-clear menu-close href="#/password">
		 	<i class="icon ion-key side-menu-icon"></i>
		 	<span>PASSWORD</span>
		</ion-item>
		
		<ion-item nav-clear menu-close href="#/logout">
		<i class="icon ion-log-out side-menu-icon"></i>
		
		  <span>LOGOUT</span>
		</ion-item>
	  </ion-list>
	</ion-content>
  </ion-side-menu>
</ion-side-menus>
