<ion-view class="bubble-background login-bar" hide-nav-bar="true">
	<ion-content hide-nav-bar="true" has-header="false">
	<!--APP LOGO START-->
	<div class="mb-header" >
		 <img class="app-logo-image" src='images/logo.png'>
	</div>
	<!--APP LOGO END-->
	<div ng-controller="newPasswordController">   
	<center> 
		
	<div class="list card">
			<div style="font-size:150%">
			  <i class="icon ion-happy"></i>
			  {{forgotPasswordSuccessNotify}}
			</div>
	
	</div>
	
		<br><br>
		<div class="text-center">
			<a class="button login-button-2" href="#/login">
			  {{forgotPasswordButtonText}}
			</a>
		</div>
	</center>
	</div>
	</ion-content>
</ion-view>
