<ion-view title='{{pageHeader}}' hide-back-button="true" class="mb-app-body">
<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
</ion-nav-buttons>
   <ion-content class="has-header padding" >

   <div class="item item-divider pull-text-center history-header" ng-bind="change"></div>
		
	<div ng-controller="passwordController">    
	<form name="newPassword" noValidate ng-submit="changePassword(user)" style="margin-top:30%;">
	
		<!--SERVER VALIDATION NOTIFICATION START-->
		<div ng-show="formError" class="card">
			<div ng-show="newPasswordError" style="background: none repeat scroll 0 0 #fbe6f2;" class="item item-divider">{{NewPasswordErrorMsg}}</div>
		</div>	
		<!--SERVER VALIDATION NOTIFICATION END-->
		
		<!--FORM CONTENT START-->
		<div class="list list-inset form-list">
			<div ng-class="{'has-error': newPassword.password.$invalid}"> 
				<label class="item item-input">
					<i class="icon ion-unlocked placeholder-icon"></i>
					<input type="password" ng-model="user.password" name="password" placeholder='New Password' required ng-minlength=6 ng-class="{'ng-invalid':newPassword.confirmPassword.$error.match}">
				</label>
			</div>
			<p ng-cloak class="input-error-text" ng-show="newPassword.password.$error.required && newPassword.password.$dirty && !newPassword.password.$error.minlength">Password is Required</p>
			<p ng-cloak class="input-error-text" ng-show="newPassword.password.$error.minlength && !newPassword.password.$error.required">Password must contain atleast 6 characters</p>
			
			<div ng-class="{'has-error': newPassword.confirmPassword.$invalid}">
			<label class="item item-input">
				<i class="icon ion-unlocked placeholder-icon"></i>
				<input type="password" ng-model="user.confirmPassword" name="confirmPassword" placeholder='Confirm Password' required ng-minlength=6 match="user.password">
			</label>
			</div>
			<p ng-cloak class="input-error-text" ng-show="newPassword.confirmPassword.$error.required && newPassword.confirmPassword.$dirty && !newPassword.confirmPassword.$error.minlength">Confirm Password is Required</p>
			<p ng-cloak class="input-error-text" ng-show="newPassword.confirmPassword.$error.minlength && !newPassword.confirmPassword.$error.required">Password must contain atleast 6 characters</p>
			<p ng-cloak class="input-error-text" ng-show="newPassword.confirmPassword.$error.match && !newPassword.confirmPassword.$error.required && !newPassword.confirmPassword.$error.minlength">Fields do not match</p>
		</div>
		<div class="padding">
			<button class="button button-block login-button-2" style="font-size:14px;text-transform:uppercase;" ng-disabled="newPassword.$invalid">{{newPasswordButtonText}}</button>
		</div>
		<!--FORM CONTENT END-->
	</form>
	</div>
  </ion-content>
</ion-view>
