<ion-view title='{{pageHeader}}' hide-back-button="true" class="mb-app-body">
<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
</ion-nav-buttons>
<ion-content class="has-header padding mb-app-header">
	<div class="list app-balance-history-list">
		<div class="item item-divider pull-text-center history-header" ng-bind="Terms"></div>
			<div>	
				<div class="item item-body" style="text-align: justify;">
				<p>
				This agreement sets forth the terms and conditions of the Client's use of the 123-reg Mobile Phone Application ('Application'). By using the Application, you, the Client, agree to be bound by the terms of this agreement and the 123-reg's general terms and conditions. <br>

The Application permits Clients to purchase domain names, search domains and their availability, keep a history of searches and check current 123-reg offers through their mobile phone or handheld device ('the Services').<br>

1. System Requirements<br><br>

1.1 In order to use the Application, the client is required to have a compatible handheld device, internet access, and the necessary minimum specifications ('Software Requirements').<br>
1.2 The Software Requirements are as follows:<br>
Android platform; any mobile phone, tablet or player which runs Android.<br>
Android OS 2.1 or later.<br>
Language: English<br>
Memory Storage: 2MB<br>
or as specified as advertised elsewhere. The Client hereby acknowledges that these may change from time to time, without notice, and that123-reg makes no representations as to the accuracy of the Software Requirements defined in this clause.<br>

1.3 The Client may be required to obtain software and / or hardware updates or upgrades from time to time as may be necessary for the continued use of the Application.<br>
1.4 The Client hereby acknowledges and agrees that such system requirements as specified under this clause 1 remain their responsibility.<br>
2. Service Delivery<br><br>

2.1 The Client acknowledges that given the nature of such Services, 123-reg cannot guarantee that the Services will be uninterrupted or error free.<br>
2.2 123-reg warrants that it will provide the Services with reasonable care and skill.<br>
2.3 The Client acknowledges that 123-reg gives no warranty or representation that:<br>
2.3.1 The Services will meet the client's requirements.<br>
2.3.2 The Services will be provided on an uninterrupted timely, secure or error-free basis.<br>
2.3.3 Any results obtained from use of the Services will be accurate, complete or current.<br>
3. Charges<br><br>

3.1 123-reg will not charge the Client for use of the Application, other than those provided for when making a purchase through the Application.<br>
3.2 The Client acknowledges that the Client's terms of agreement with their respective mobile network provider ('Mobile Provider') will continue to apply when using this application. As a result, the Client may be charged by the Mobile Provider for access to network connection services for the duration of the connection while accessing the Services, or any such third party charges as may arise.<br>
3.3 The Client accepts responsibility for any such charges that arise under clause 3.2.<br>
3.4 If the Client is not the bill payer for the mobile phone or handheld device being used to access the Services, the Client will be assumed to have received permission from the bill payer for using the Application.<br>
4. Additional Reservation of Rights<br><br>

4.1 123-reg reserves the right to change, add, subtract or in any way alter these Conditions without the prior consent of the Client.<br>
5. Severability<br><br>

5.1 The illegality, invalidity or unenforceability of any provision of the Agreement will not affect the legality, validity or enforceability of the remainder. If any such provision is found by any court or competent authority to be illegal, invalid or unenforceable, the parties agree that they will substitute provisions in a form as similar to the offending provisions as is possible without thereby rendering them illegal, invalid or unenforceable.<br>
6. Definitions & Conflicts<br><br>

6.1 Terms used but not defined herein shall have the meanings ascribed to them in the 123-reg general terms of service.<br>
6.2 In the event there is a conflict between the provisions of the General Terms of Service the provisions of this Agreement shall control.<br><br>
				</p>
				</div>	  
			</div>
		</div>
	</div>
  </ion-content>
<ion-footer-bar>
<div style="text-align: center !important;margin: 0 auto" >
<span style="color:#FDD927" ng-click="goPrivacyPolicy()" >Privacy Policy</span><br><span style="color:#FDD927" ng-click="goTerms()" >Terms&Conditions </span> | <span style="color:#FDD927" ng-click="goFAQ()" >FAQ </span>
</div>
</ion-footer-bar>


</ion-view>
